body {
  
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Heading {
  
  font-size: 50px;
  text-align: center;
  
font-family: 'Roboto', sans-serif;
  color: #061768;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.icon {
  height: 100px;
  width: 100px;
  margin-bottom: 0px;
}

.LogoDiv{
  text-align: center;
}

.text {
  margin:0;
  margin-bottom: 30px;
  text-align: center;
  
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}